/* Calques principaux*/
/* Paramètres globaux */
.mainLayer{ display:none; /* Par défaut les calques principaux ne sont pas visibles */ }
text{ font-family:"Helvetica", "Arial", sans-serif; }
.hidden{ display:none; }
.transp{ opacity:0.01; fill-opacity:0.01; stroke-opacity:0.01; }
/* Définition des animations */
@keyframes fadeIn{ 0%{ opacity:0; } 100%{ opacity:1; } }
@keyframes fadeOut{ 0%{ opacity:1; } 100%{ opacity:0; } }
/* On prépare l'application de ces animations (mais elles seront activées dans le .js). */
#calqueRegions,
#calqueProjets,
#calqueTCH { animation:fadeOut .4s linear 0s 1 normal forwards; }
/* On n'affiche que le fond de carte et les plus importants */
#fondCarte,
#loading,
#calqueGeographie,
#calqueVilles,
#calqueCommerces,
#calqueLieuxDits,
#calqueRoutes,
#calquePics,
#calqueCoursEau,
#interface{
	animation:fadeIn .4s linear 0s 1 normal forwards;
	display:inline; }

/* Fonds invisibles (capturent la souris pour ne pas sélectionner ce qu'il y a derrière) */
.mousebg{ opacity:0.01; }


/* Instructions pour le fond de carte */
.mapBg{ fill:#000000; fill-opacity:1; }	/* Peut-être un truc stylé plus tard, un fond noir pour l'instant */
.mapBit, .topoBit{
	image-rendering:optimizeSpeed; /* équivalent à scaling algorithm = nearest neighbour */
	image-rendering:pixelated;
}
#calqueTopographie{
	mix-blend-mode:multiply;
}
#topoSecondaryBg{
	display:none;
	fill:#ffffff;
	fill-opacity:1;
	stroke:none;
}

/* Instructions pour les overlays de zones géographiques sur le fond de carte */
/* Paramètres génériques */
.geographie .hoverable{	opacity:0; }
.geographie path.clicked{ opacity:0.50; }
/* Paramètres spécifiques pour chaque biome */
#calqueOceans path{ fill:url(#ocean); }
#calqueDeserts path{ fill:url(#desert); }
#calqueDeserts .rouge{ fill:url(#desert_rouge); }
#calqueIles path{ fill:url(#ile); }
#calqueMassifs path{ fill:url(#massif); }
#calquePlaines path{ fill:url(#plaine); }
#calqueSavanes path{ fill:url(#savane); }
#calqueForets path{ fill:url(#foret); }
#calqueForets .neige{ fill:url(#foret_neige); }
#calqueForets .noire{ fill:url(#foret_noire); }
#calqueForets .taiga{ fill:url(#foret_sapin); }
#calqueForets .jungle{ fill:url(#jungle); }
#calqueMarais path{ fill:url(#marais); }
#calqueMontagnes path{ fill:url(#montagne); }
#calqueMontagnes .sable{ fill:url(#montagne_sable); }
#calqueMontagnes .foret{ fill:url(#montagne_foret); }
#calquePlansEau path{ fill:url(#lac); }
#calquePlansEau .lagon{ fill:url(#lagon); }
#calqueIlesPetites path{ fill:url(#ile); }
#calqueMontagnesPetites path{ fill:url(#montagne); }
#calqueMontagnesPetites .faille{ fill:url(#faille); }
#calqueMontagnesPetites .dune{ fill:url(#dune); }
#calqueMontagnesPetites .colline{ fill:url(#colline); }
#calqueMontagnesPetites .volcan{ fill:url(#volcan); }
#calqueMontagnesPetites .eau{ fill:url(#crique); }
/* Paramètres des dégradés */
#ocean stop { stop-color:#0037ff; }
#desert stop{ stop-color:#ffff37; }
#desert_rouge stop{ stop-color:#ffac00; }
#ile stop{ stop-color:#c0cfff; }
#massif stop{ stop-color:#9e8c7f; }
#plaine stop{ stop-color:#83e410; }
#savane stop{ stop-color:#b5cf2c; }
#foret stop{ stop-color:#18ff04; }
#foret_neige stop{ stop-color:#a4f5a8; }
#foret_noire stop,
#foret_sapin stop{ stop-color:#257600; }
#jungle stop{ stop-color:#59d600; }
#marais stop{ stop-color:#29cc7e; }
#montagne stop{ stop-color:#c8ce8d; }
#montagne_sable stop{ stop-color:#aa900d; }
#montagne_foret stop{ stop-color:#86f910; }
#lac stop{ stop-color:#729ccb; }
#lagon stop{ stop-color:#89b7f4; }
#faille stop{ stop-color:#b9694c; }
#dune stop{ stop-color:#d3be09; }
#colline stop{ stop-color:#98c208; }
#volcan stop{ stop-color:#97550a; }
#crique stop{ stop-color:#87aee2; }


/* Instructions pour les pics (sommets de montagne) */
/* Définition des animations */
/* Animation de "gonflement" des pics */
@keyframes picSelect{ 0%{ transform:scale(1,1); } 100%{ transform:scale(1.5,1.5); } }
@keyframes picDeselect{ 0%{ transform:scale(1.5,1.5); } 100%{ transform:scale(1,1); } }
/* Apparition/disparition du texte (nom et altitude du pic) */
@keyframes picTextSelect{
	0% { opacity:0.0; display:none; }
	1% { opacity:0.0; display:inline; }
	100% { opacity:0.9; display:inline; } }
@keyframes picTextDeselect{
	0% { opacity:0.9; display:inline; }
	99% { opacity:0.0; display:inline; }
	100% { opacity:0.0; display:none; } }
/* Application des animations */
#calquePics .hoverable { transform-origin:50% 90%; transform-box:fill-box; }
#calquePics .hoverable { animation: picDeselect .1s ease 0s 1 normal forwards; }
#calquePics .hoverable:hover,
#calquePics .hoverable.clicked,
#calquePics .hoverable.related{ animation: picSelect .4s ease 0s 1 normal forwards; }
#calquePics .hoverable text{ animation: picTextDeselect .1s ease 0s 1 normal forwards; text-anchor:middle; }
#calquePics .hoverable:hover text,
#calquePics .hoverable.clicked text{ animation: picTextSelect .1s ease 0s 1 normal forwards; }
/* Style du texte */
#calquePics .hoverable .altitude{ font-size:8px; fill:#000000; stroke-opacity:1; stroke-width:0.2px; stroke:#7f8b94; font-weight:bold; font-style:italic; }


/* Instructions pour les cours d'eau */
/* Définition des animations */
@keyframes fleuveFlow{ 0% { stroke-dashoffset:0; } 100% { stroke-dashoffset:-75; } }
@keyFrames fleuveOnSelect{ 0% { stroke-width:16; stroke:#32cce0; } 100% { stroke-width:20; stroke:#5cddee; } }
@keyFrames fleuveOnDeselect{ 0% { stroke-width:20; stroke:#5cddee; } 100% { stroke-width:16; stroke:#32cce0; } }
@keyFrames fleuveSelect{
	0% { stroke-width:20; stroke:#5cddee; stroke-dasharray:0 12.5 50 12.5; }
	100% { stroke-width:24; stroke:#68ebfc; stroke-dasharray:0 10 55 10; }
}
@keyframes riviereFlow{ 0% { stroke-dashoffset:0; } 100% { stroke-dashoffset:-45; } }
@keyFrames riviereOnDeselect{ 0% { stroke-width:14; stroke:#7dc9fb; } 100% { stroke-width:10; stroke:#71b9e9; } }
@keyFrames riviereOnSelect{ 0% { stroke-width:10; stroke:#71b9e9; } 100% { stroke-width:14; stroke:#7dc9fb; } }
@keyFrames riviereSelect{
	0% { stroke-width:14; stroke:#7dc9fb; stroke-dasharray:0 7.5 30 7.5; }
	100% { stroke-width:17; stroke:#93d7ff; stroke-dasharray:0 6 33 6; }
}
/* Application des effets de sélection */
#calqueCoursEau path{ fill:none; stroke-opacity:1; }
/* Pour les fleuves */
#calqueCoursEau .fleuve{ 
	stroke-dasharray: 0 12.5 50 12.5;
	animation: fleuveFlow 8s linear infinite, fleuveOnDeselect 0.3s ease-out 1 forwards; }
#calqueCoursEau .fleuve:hover:not(.clicked):not(.related){ animation: fleuveFlow 8s linear infinite, fleuveOnSelect 0.3s ease-out 1 forwards; }
#calqueCoursEau .fleuve.clicked,
#calqueCoursEau .fleuve.related{ animation: fleuveFlow 8s linear infinite, fleuveSelect 1.2s ease infinite alternate; }
/* Pour les rivières */
#calqueCoursEau .riviere{
	stroke-dasharray: 0 7.5 30 7.5;
	animation: riviereFlow 5s linear infinite, riviereOnDeselect 0.3s ease-out 1 forwards; }
#calqueCoursEau .riviere:hover:not(.clicked):not(.related){ animation: riviereFlow 5s linear infinite, riviereOnSelect 0.3s ease-out 1 forwards; }
#calqueCoursEau .riviere.clicked,
#calqueCoursEau .riviere.related{ animation: riviereFlow 5s linear infinite, riviereSelect 1.2s ease infinite alternate; }



/* Instructions pour les régions */
/* Chaque type de région a une couleur différente */
@keyframes regionSelect{
	0% { fill-opacity:0.25; fill:#0c0d1d; stroke:#0a0807; stroke-width:8; }
	100% { fill-opacity:0.5; stroke:#312316; stroke-width:12; } }
@keyframes regionDeselect{
	0% { fill-opacity:0.5; stroke:#312316; stroke-width:12; }
	100% { fill-opacity:0.25; fill:#0c0d1d; stroke:#0a0807; stroke-width:8; } }
/* Application des animations */
#calqueRegions .hoverable{ animation: regionDeselect .1s ease 0s 1 normal forwards; }
#calqueRegions .hoverable:hover,
#calqueRegions .hoverable.clicked,
#calqueRegions .hoverable.related{ animation: regionSelect .4s ease 0s 1 normal forwards; }

/* Couleurs des différentes régions */
/* -------------------------------- */
/* Le Hameau et dépendances */
#RegionHameau, #RegionFortDuVal{ fill:#2c64a4; }
/* Grenat et dépendances */
#RegionGrenat, #RegionGrenat2{ fill:#900d0d; }
/* Procyon et dépendances */
#RegionProcyon, #RegionProcyon2, #RegionCalmeflot{ fill:#560d95; }
/* Autres républiques */
#RegionLitorea{ fill:#2a7fcf; }
#RegionThalrion{ fill:#336a66; }
#RegionCyseal{ fill:#288f88; }
/* Autres monarchies */
#RegionSablons{	fill:#9a892c; }
#RegionDorlinor{ fill:#3f8720; }
#RegionVillonne{ fill:#c8b12c; }
#RegionTolbrok{ fill:#a39023; }
#RegionEvrocq{ fill:#c5b976; }
/* Communautés autonomes */
#RegionCyseal{ fill:#288f88; }
#RegionHades{ fill:#7133a7; }
#RegionBalchais{ fill:#919a88; }


/* Instructions pour les projets */
/* Définition des animations */
@keyframes projetSelect{ 0%{ transform:scale(1,1); } 100%{ transform:scale(1.2,1.2); } }
@keyframes projetDeselect{ 0%{ transform:scale(1.2,1.2); } 100%{ transform:scale(1,1); } }
/* Application des animations */
#calqueProjets .hoverable{
	fill-opacity:1; opacity:1; stroke-width:6;
	transform-origin:50% 50%; transform-box:fill-box;
	animation: projetDeselect .4s ease 0s 1 normal forwards;
}
#calqueProjets .hoverable:hover,
#calqueProjets .hoverable.clicked,
#calqueProjets .hoverable.related{ animation: projetSelect .4s ease 0s 1 normal forwards; }
/* Couleurs spécifiques pour chaque type de projet */
.projetEau{ fill:url(#projetEau); stroke:#9dd8e0; }
.projetMontagnes{ fill:url(#projetMontagnes); stroke:#cbc896; }
.projetSavane{ fill:url(#projetSavane); stroke:#d3ec87; }
.projetDesert{ fill:url(#projetDesert); stroke:#f2f479; }
.projetForet{ fill:url(#projetForet); stroke:#46bb4e; }
.projetMarais{ fill:url(#projetMarais); stroke:#28cb8a; }
.projetSuppression{ fill:url(#projetSuppression); stroke:#c61f1f; }
.projetBatiment{ fill:url(#projetBatiment); stroke:#101213; }



/* Instructions pour les villes & lieux-dits */
/* Propriétés génériques */
#calqueLieuxDits .hoverable,
#calqueCommerces .hoverable,
#calqueVilles .hoverable{ transform-origin:50% 50%; transform-box:fill-box; }
/* Animations des lieux-dits */
@keyframes lieuDitSelect{
	0%{ stroke-width:1.5;fill-opacity:1;fill:#ffa837;stroke:#000000; transform:scale(1,1); }
	100%{ stroke-width:3.5;fill-opacity:0.5;fill:#573b16;stroke:#e7d536; transform:scale(1.25,1.25); } }
@keyframes lieuDitDeselect{
	0%{ stroke-width:3.5;fill-opacity:0.5;fill:#573b16;stroke:#e7d536; transform:scale(1.25,1.25); }
	100%{ stroke-width:1.5;fill-opacity:1;fill:#ffa837;stroke:#000000; transform:scale(1,1); } }
#calqueLieuxDits .hoverable,
#calqueCommerces .hoverable{ animation: lieuDitDeselect .4s ease 0s 1 normal forwards; }
#calqueLieuxDits .hoverable.clicked,
#calqueLieuxDits .hoverable.related,
#calqueLieuxDits .hoverable:hover,
#calqueCommerces .hoverable.clicked,
#calqueCommerces .hoverable.related,
#calqueCommerces .hoverable:hover{ animation: lieuDitSelect .4s ease 0s 1 normal forwards; }
/* Animations des villes */
@keyframes villeSelect{
	0%{ stroke-width:3;fill-opacity:1;fill:#ff7f2a;stroke:#000000; transform:scale(1,1); }
	100%{ stroke-width:7;fill-opacity:0.5;fill:#573b16;stroke:#e7d536; transform:scale(1.15,1.15); } }
@keyframes villeDeselect{
	0%{ stroke-width:7;fill-opacity:0.5;fill:#573b16;stroke:#e7d536; transform:scale(1.15,1.15); }
	100%{ stroke-width:3;fill-opacity:1;fill:#ff7f2a;stroke:#000000; transform:scale(1,1); } }
#calqueVilles .hoverable{ animation: villeDeselect .4s ease 0s 1 normal forwards; }
#calqueVilles .hoverable.clicked,
#calqueVilles .hoverable.related,
#calqueVilles .hoverable:hover{ animation: villeSelect .4s ease 0s 1 normal forwards; }

/* Instructions pour les routes */
/* Propriétés génériques */
#calqueRoutes .hoverable{ fill:none; stroke-opacity:1; }
/* Définition des animations */
@keyframes routeSelect{
	0%{ stroke:#c8ae59; stroke-width:10; stroke-dasharray:7 3; }
	100%{ stroke:#e7d536; stroke-width:15; stroke-dasharray:9 1; } }
@keyframes routeDeselect{
	0%{ stroke:#e7d536; stroke-width:15; stroke-dasharray:9 1; }
	100%{ stroke:#c8ae59; stroke-width:10; stroke-dasharray:7 3; } }
/* Application des animations */
#calqueRoutes .hoverable{ animation: routeDeselect .4s ease 0s 1 normal forwards; }
#calqueRoutes .hoverable.clicked,
#calqueRoutes .hoverable.related,
#calqueRoutes .hoverable:hover{ animation: routeSelect .4s ease 0s 1 normal forwards;}




/* Instructions pour les lignes de transports en commun */
#FondMetro{ opacity:0.75; fill:#000000; }

/* Instructions pour les lignes de RER */
/* Propriétés génériques */
#calqueRERLignes .hoverable .TraceVisible { fill:none; stroke-opacity:1; }
#calqueRERLignes .hoverable .TraceInvisible { stroke-width:96; }
/* Définition des animations */
@keyframes RERSelect{ 0% { stroke-width:24; } 100% { stroke-width:32; } }
@keyframes RERDeselect{ 0% { stroke-width:32; } 100% { stroke-width:24; } }
/* Application des animations */
#calqueRERLignes .hoverable .TraceVisible{ animation:RERDeselect .4s ease 0s 1 normal forwards; }
#calqueRERLignes .hoverable:hover .TraceVisible,
#calqueRERLignes .hoverable.clicked .TraceVisible,
#calqueRERLignes .hoverable.related .TraceVisible { animation:RERSelect .4s ease 0s 1 normal forwards; }
/* Couleur des lignes */
.RERATrace{	stroke:#e2231a; }
.RERBTrace{	stroke:#3c91dc; }

/* Instructions pour les lignes de métro */
/* Propriétés génériques */
#calqueMetroLignes .hoverable .TraceVisible { fill:none; stroke-opacity:1; }
#calqueMetroLignes .hoverable .TraceInvisible { stroke-width:72; }
/* Définition des animations */
@keyframes MetroSelect{ 0% { stroke-width:16; } 100% { stroke-width:24; } }
@keyframes MetroDeselect{ 0% { stroke-width:24; } 100% { stroke-width:16; } }
/* Application des animations */
#calqueMetroLignes .hoverable .TraceVisible{ animation:MetroDeselect .4s ease 0s 1 normal forwards; }
#calqueMetroLignes .hoverable:hover .TraceVisible,
#calqueMetroLignes .hoverable.clicked .TraceVisible,
#calqueMetroLignes .hoverable.related .TraceVisible { animation:MetroSelect .4s ease 0s 1 normal forwards; }
/* Couleur des lignes */
.MxTrace{ stroke:#000000;} /* Sert, couplé avec enConstruction, à définir une ligne existante mais devant être supprimée */
.M1Trace{ stroke:#ffcd00;}
.M2Trace{ stroke:#003ca6;}
.M3Trace{ stroke:#6ec4e8;}
.M4Trace{ stroke:#cf009e;}
.M5aTrace,
.M5bTrace{ stroke:#ff7e2e;}
.M6Trace{ stroke:#60bb39;}
.M7Trace{ stroke:#fa9aba;}
.M7bTrace{ stroke:#6eca97;}
.M8Trace{ stroke:#e19bdf;}
.M8bTrace{ stroke:#345663;}
.M9Trace{ stroke:#b6bd00; }
.M10Trace{ stroke:#c9910d; }
.M11Trace{ stroke:#704b1c; }
.M12Trace{ stroke:#007852; }
.M13Trace{ stroke:#837902; }
.M14Trace{ stroke:#62259d; }

/* Instructions pour les lignes de câble */
/* Propriétés génériques */
#calqueCableLignes g .TraceVisible { fill:none; stroke-opacity:1; }
#calqueCableLignes g .TraceInvisible { stroke-width:48; }
/* Définition des animations */
@keyframes CableSelect{ 0% { stroke-width:4; } 100% { stroke-width:7; } }
@keyframes CableDeselect{ 0% { stroke-width:7; } 100% { stroke-width:4; } }
/* Application des animations */
#calqueCableLignes .hoverable .TraceVisible{ animation:CableDeselect .4s ease 0s 1 normal forwards; }
#calqueCableLignes .hoverable:hover .TraceVisible,
#calqueCableLignes .hoverable.clicked .TraceVisible,
#calqueCableLignes .hoverable.related .TraceVisible { animation:CableSelect .4s ease 0s 1 normal forwards; }
/* Couleur des lignes */
.CableATrace{ stroke:#4b7e99; }
.CableBTrace{ stroke:#c39108; }

/* Instructions pour les lignes de bateau */
/* Propriétés génériques */
#calqueBateauLignes .hoverable .TraceVisible { fill:none; stroke-opacity:1; stroke-dasharray:20,10,10,10; }
#calqueBateauLignes .hoverable .TraceInvisible { stroke-width:48; }
/* Définition des animations */
@keyframes BateauSelect{ 0% { stroke-width:10; } 100% { stroke-width:15; } }
@keyframes BateauDeselect{ 0% { stroke-width:15; } 100% { stroke-width:10; } }
/* Application des animations */
#calqueBateauLignes .hoverable .TraceVisible{ animation:BateauDeselect .4s ease 0s 1 normal forwards; }
#calqueBateauLignes .hoverable:hover .TraceVisible,
#calqueBateauLignes .hoverable.clicked .TraceVisible,
#calqueBateauLignes .hoverable.related .TraceVisible { animation:BateauSelect .4s ease 0s 1 normal forwards; }
/* Couleur des lignes */
.B227Trace, .B111Trace{ stroke:#ffcd00;} /* Bouton d'or Ligne 1 */
.{ stroke:#003ca6;} /* Azur Ligne 2 */
.B136Trace, .B73Trace{ stroke:#6ec4e8;} /* Pervenche Ligne 3 */
.B220Trace{ stroke:#cf009e;} /* Parme Ligne 4 */
.B177Trace, .B292Trace{ stroke:#ff7e2e;} /* Orange Ligne 5 */
.B274Trace{ stroke:#fa9aba;} /* Rose Ligne 7 */
.B43Trace{ stroke:#6eca97;} /* Menthe Ligne 7bis */
.B182Trace, .B163Trace{ stroke:#e19bdf;} /* Lilas Ligne 8 */
.{ stroke:#b6bd00; } /* Acacia Ligne 9 */
.B282Trace{ stroke:#c9910d; } /* Ocre Ligne 10 */
.B83Trace, .B154Trace{ stroke:#704b1c; } /* Marron Ligne 11 */
.B35Trace, .B137Trace{ stroke:#007852; } /* Sapin Ligne 12 */
.B28Trace, .B172Trace{ stroke:#837902; } /* Olive Ligne 3 IRL / Ligne 13 IG */
.B23Trace, .B44Trace{ stroke:#62259d; } /* Iris Ligne 14 */
.{ stroke:#e2231a; } /* Coquelicot RER A */
.B293Trace{	stroke:#3c91dc; } /* Cobalt RER B */
.B195Trace{	stroke:#00ae41; } /* Prairie RER D */

/* Instructions pour les lignes en construction */
.enConstruction{ stroke-dasharray:20,10; stroke-miterlimit:10; }
/* Lignes invisibles (aide à la sélection) */
.TraceInvisible{ fill:none; fill-opacity:0; stroke:#000000; stroke-opacity:0.01; opacity:0.01; }



/* Instructions pour les stations de transport en commun */
/* Propriétés génériques */
.calqueStations .hoverable{	transform-origin: 50% 50%; transform-box: fill-box; }
/* Définition des animations */
@keyframes metroSelect{ 0%{ transform:scale(1,1); } 100%{ transform:scale(1.9,1.9); } }
@keyframes metroDeselect{ 0%{ transform:scale(1.9,1.9); } 100%{ transform:scale(1,1); } }
/* Application des animations */
.calqueStations .hoverable{	animation: metroDeselect .4s ease 0s 1 normal forwards; }
.calqueStations .hoverable:hover,
.calqueStations .hoverable.clicked,
.calqueStations .hoverable.related{ animation: metroSelect .4s ease 0s 1 normal forwards; }


/* Instructions pour la grille */
.grillePath{ stroke-width:4px; stroke:#2b0b08; fill:none; }


/* Instructions pour les punaises de positionnement */
#posFrom, #posTo{ transform-origin:50% 50%; transform-box:fill-box; }

/* Instructions pour l'interface utilisateur */
/* Barre d'information en bas de l'écran */
.infoBarBg{ fill:#050713; stroke:#18181f; stroke-width:3px; }
.infoBarSubBg{ stroke-opacity:0; fill:#000000; fill-opacity:1; }
/* Affichage des coordonnées */
#coordsText{ fill:#eefafb; font-size:25px; text-anchor:middle; }
#mapIDText{ fill:#eefafb; font-size:20px; text-anchor:middle; }

/* Style de l'hoverinfo (ligne de texte expliquant un menu) */
@keyframes hoverInfoIn{ 0%{opacity:0;} 100%{opacity:1;} }
@keyframes hoverInfoOut{ 0%{opacity:1;} 100%{opacity:0;} }
#hoverInfo{ animation: hoverInfoOut .5s ease-in 0s 1 normal forwards; pointer-events:none; }
#hoverInfoBg{ fill:#413d29; stroke:#75715c; stroke-width:1px; }
#hoverInfoText{ font-size:16px; fill:#ffffff; }
.interfaceHoverable{ cursor:pointer; }

/* Style de l'infobulle (redirigeant vers le CGC) */
#infobulleText{ font-size:30px; font-weight:bold; text-decoration:underline; }
#infobulleBigSubtitle{ font-size:18px; }
#infobulleSmallSubtitle{ font-size:12px; }
.infobulleText a{ text-decoration:underline; cursor:pointer; }
.infobulleText{ fill:#adc0ff; }
.infobulleLink:focus, .infobulleLink:active, .infobulleLink:visited{ outline:none; }

/* Style de la légende */
@keyframes legendeAnimationIn{ 0%{transform:translate(0px,0px);} 100%{transform:translate(0px,-330px);} }
@keyframes legendeAnimationOut{ 0%{transform:translate(0px,-330px);} 100%{transform:translate(0px,0px);} }
@keyframes legendeFlecheAnimationIn{ 0%{transform:rotate(0deg);} 100%{transform:rotate(180deg);} }
@keyframes legendeFlecheAnimationOut{ 0%{transform:rotate(180deg);} 100%{transform:rotate(0deg);} }
#legende{ animation:legendeAnimationOut .6s cubic-bezier(.68,.16,.32,.84) 0s 1 normal forwards; }
#legendeFlecheFg{ fill-opacity:0.01; opacity:0.01; }
#legendeFleche{ fill:#adc0ff;
	transform-origin:50% 50%; transform-box:fill-box;
	animation: legendeFlecheAnimationOut .6s cubic-bezier(.68,.16,.32,.84) 0s 1 normal forwards; }
#legende text{ fill:#adc0ff; font-size:16px; }
#legendeTitre{ font-size:30px; font-weight:bold; }

/* Style de la recherche */
@keyframes rechercheAnim_noneToSmall{ 0%{transform:translate(0px,0px);} 100%{transform:translate(0px,-70px);} }
@keyframes rechercheAnim_smallToNone{ 0%{transform:translate(0px,-70px);} 100%{transform:translate(0px,0px);} }
@keyframes rechercheAnim_noneToBig{ 0%{transform:translate(0px,0px);} 100%{transform:translate(0px,-500px);} }
@keyframes rechercheAnim_bigToNone{ 0%{transform:translate(0px,-500px);} 100%{transform:translate(0px,0px);} }
@keyframes rechercheAnim_smallToBig{ 0%{transform:translate(0px,-70px);} 100%{transform:translate(0px,-500px);} }
@keyframes rechercheAnim_bigToSmall{ 0%{transform:translate(0px,-500px);} 100%{transform:translate(0px,-70px);} }
#recherche{ animation:rechercheAnim_smallToNone .6s cubic-bezier(.68,.16,.32,.84) 0s 1 normal forwards; }
#rechercheFlecheFg{ fill-opacity:0.01; opacity:0.01; }
#recherche text{ fill:#adc0ff; font-size:16px; }
#rechercheTitre{ font-size:30px; font-weight:bold; }
/* Curseur et zone d'input textuel */
@keyframes searchCursor{ 0%{opacity:1;} 49.99%{opacity:1;} 50%{opacity:0.001;} 99.99%{opacity:0.001;} }
#rechercheCurseur{ fill:#eefafb; animation:searchCursor 1s linear infinite; pointer-events:none; }
#rechercheChampTexte{ fill:#eefafb; fill-opacity:1; font-size:18px; }
#rechercheChampBg{ cursor:text; fill:#313653; fill-opacity:1; }
#rechercheBoutonBg{  }
/* Résultats de la recherche */
#rechercheResultats .searchResult{ cursor:pointer;
	-webkit-user-select:none; -moz-user-select:none; -ms-user-select:none; user-select:none; }
#rechercheResultats .searchResult:nth-child(4n+0)	{ fill:#eed7f9; }
#rechercheResultats .searchResult:nth-child(4n+2)	{ fill:#f9eed7; }

/* Background de la zone de recherche */
/* Style des différents textes de la zone de recherche */
#noResultsText{ fill:#ac4747; fill-opacity:1; font-size:150px; display:none; text-align:center; }

/* Instructions pour l'écran de chargement */
#loadingBg{ fill:#050713; stroke:#18181f; stroke-width:3px; }
#loadingAnimation { transform-origin:50% 50%; transform-box:fill-box; }
#loadingAnimation rect { fill:#000000; fill-opacity:0.01; opacity:0.01; }
#loadingAnimation circle { fill:#91aeec; fill-opacity:1; transform-origin:640px 300px; }
/* Animation de l'écran de chargement */
@keyframes loading{ 0%{ transform:rotate(0deg); } 100%{ transform:rotate(360deg); } }
@keyframes loading2{ 0%{ transform:rotate(0deg); } 100%{ transform:rotate(-360deg); } }
#loading { animation: fadeOut 1.2s linear 0s 1 normal forwards paused; }
#loadingAnimation { animation: loading2 10s linear infinite; }
#loadingAnimation circle { animation: loading 3s cubic-bezier(.51,.27,.47,.77) infinite; }
#loadingAnimation #loadingC1{ animation-delay:0ms; }
#loadingAnimation #loadingC2{ animation-delay:50ms; }
#loadingAnimation #loadingC3{ animation-delay:100ms; }
#loadingAnimation #loadingC4{ animation-delay:150ms; }
/* Texte de l'écran de chargement */
@keyframes loadingText{ 0%{ transform:scale(1,1); } 100% { transform:scale(1.2, 1.2); } }
#loading text{ fill:#5477c4; fill-opacity:1; text-anchor:middle; }
#loadingSubtitle{ font-size:30px; }
#loadingText{
	font-size:60px;
	transform-origin:50% 50%; transform-box:fill-box;
	animation: loadingText 1.3s ease-in-out infinite alternate; }