.bg{
	fill:#dfe2e9;
}
.bgTop{
	fill:#ffffff;
}
.bordure{
	fill:#050d9e;
}


@font-face{
	font-family: "Parisine";
	src: url("../parisine-regular.otf") format("opentype");
}
@font-face{
	font-family: "Parisine";
	font-weight: bold;
	src: url("../parisine-bold.otf") format("opentype");
}
.texteTop{
	font-family: Parisine;
	font-weight: bold;
	font-size: 26px;
	transform-origin: 35% 0%;
	fill: #050d9e;
}
.compress1{
	transform: scale(0.88,1.0);
}
.compress2{
	transform: scale(0.75,0.88);
}
.compress3{
	transform: scale(0.60,0.75);
}
.station text{
	font-family: Parisine;
	font-size: 18px;
	transform-origin: 44% 0%;
	fill: #050d9e;
}
.smallText .station text{
	font-size: 15px;
}
.station rect{
	fill-opacity:0;
	fill: #050d9e;
}
.station.selected text{
	fill: #ffffff;
}
.station.selected rect{
	fill-opacity:1;
}
.station.selected image{
	display:none;
}
.station.hidden {
	opacity:0.001;
}

.metro{
	stroke-opacity: 1;
	fill-opacity: 0;
	stroke-width: 10px;
}
.m1{
	stroke:#ffcd00;
}
.m2{
	stroke:#003ca6;
}
.m3{
	stroke:#6ec4e8;
}
.m4{
	stroke:#cf009e;
}
.m5a, .m5b{
	stroke:#ff7e2e;
}
.m6{
	stroke:#60bb39;
}
.m7{
	stroke:#fa9aba;
}
.m7b{
	stroke:#6eca97;
}
.m8{
	stroke:#e19bdf;
}
.m8b{
	stroke:#345663;
}

.rer{
	stroke-opacity: 1;
	fill-opacity: 0;
	stroke-width: 12px;
}
.rera{
	stroke:#e2231a;
}
.rerb{
	stroke:#3c91dc;
}


.cable{
	fill-opacity:0;
	stroke-opacity:1;
	stroke-width:3px;
}
.ca{
	stroke:#4b7e99;
}
.cb{
	stroke:#c39108;
}