/* Instructions pour les découpages géographiques */

.hidden{
	display:none;
}

.bordure{
	stroke:#050d9e;
	stroke-opacity:1;
	stroke-width:6px;
	fill-opacity:0;
}
.tchBg{
	fill:#61a97a;
	fill-opacity:1;
}

.whiteBg, .legendeBg{
	fill-opacity:1;
	fill:#fffcf5;
}
.lightGreyBg{
	fill-opacity:1;
	fill:#eef0f2;
}
.greyBg{
	fill-opacity:1;
	fill:#dfe2e9;
}
.bgMer{
	fill-opacity:1;
	fill:#bcd8e5;
}
.bgFleuve{
	fill-opacity:0;
	stroke-opacity:1;
	stroke-width:8;
	stroke:#bcd8e5;
}
.bgForet{
	fill-opacity:0.5;
	fill:#cbe6d6;
}


#calqueBateauLignes path, .LigneBateau {
	fill:none;
	stroke-opacity:1;
	opacity:1;
	stroke-width:2px;
	stroke-dasharray:6,3,3,3;
}
/* Couleur des lignes */
.BateauTrace{ stroke:#808080; }
.B227Trace, .B111Trace{ stroke:#ffcd00;} /* Bouton d'or Ligne 1 */
.{ stroke:#003ca6;} /* Azur Ligne 2 */
.B136Trace, .B73Trace{ stroke:#6ec4e8;} /* Pervenche Ligne 3 */
.B220Trace{ stroke:#cf009e;} /* Parme Ligne 4 */
.B177Trace, .B292Trace{ stroke:#ff7e2e;} /* Orange Ligne 5 */
.B274Trace{ stroke:#fa9aba;} /* Rose Ligne 7 */
.B43Trace{ stroke:#6eca97;} /* Menthe Ligne 7bis */
.B182Trace, .B163Trace{ stroke:#e19bdf;} /* Lilas Ligne 8 */
.{ stroke:#b6bd00; } /* Acacia Ligne 9 */
.B282Trace{ stroke:#c9910d; } /* Ocre Ligne 10 */
.B83Trace, .B154Trace{ stroke:#704b1c; } /* Marron Ligne 11 */
.B35Trace, .B137Trace{ stroke:#007852; } /* Sapin Ligne 12 */
.B28Trace, .B172Trace{ stroke:#837902; } /* Olive Ligne 3 IRL / Ligne 13 IG */
.B23Trace, .B44Trace{ stroke:#62259d; } /* Iris Ligne 14 */
.{ stroke:#e2231a; } /* Coquelicot RER A */
.B293Trace{	stroke:#3c91dc; } /* Cobalt RER B */
.B195Trace{	stroke:#00ae41; } /* Prairie RER D */

#calqueRERLignes path, .LigneRER {
	fill:none;
	stroke-opacity:1;
	opacity:1;
	stroke-width:11px;
}
.RERATrace{
	stroke:#e2231a;
}
.RERBTrace{
	stroke:#3c91dc;
}


#calqueCableLignes path, .LigneCable {
	fill:none;
	stroke-opacity:1;
	opacity:1;
	stroke-width:3px;
}
.CableATrace{
	stroke:#4b7e99;
}
.CableBTrace{
	stroke:#c39108;
}

#calqueMetroLignes path, .LigneMetro {
	fill:none;
	stroke-opacity:1;
	opacity:1;
	stroke-width:8px;
}
.M1Trace{
	stroke:#ffcd00;
}
.M2Trace{
	stroke:#003ca6;
}
.M3Trace{
	stroke:#6ec4e8;
}
.M4Trace{
	stroke:#cf009e;
}
.M5aTrace, .M5bTrace{
	stroke:#ff7e2e;
}
.M6Trace{
	stroke:#60bb39;
}
.M7Trace{
	stroke:#fa9aba;
}
.M7bTrace{
	stroke:#6eca97;
}
.M8Trace{
	stroke:#e19bdf;
}
.M8bTrace{
	stroke:#345663;
}
.M9Trace{ stroke:#b6bd00; }
.M10Trace{ stroke:#c9910d; }
.M11Trace{ stroke:#704b1c; }
.M12Trace{ stroke:#007852; }
.M13Trace{ stroke:#837902; }
.M14Trace{ stroke:#62259d; }

.liaisonUrbaine{
	stroke:#000000;
	stroke-width:2px;
	stroke-dasharray:4 3
}


/* Définition des polices */
@font-face{
	font-family: "Parisine";
	src: url("../parisine-regular.otf") format("opentype");
}
@font-face{
	font-family: "Parisine";
	font-weight: bold;
	src: url("../parisine-bold.otf") format("opentype");
}

@font-face{
	font-family: "Tengwar Annatar";
	src: url("../font/TengwarAnnatar.ttf") format("truetype");
}
@font-face{
	font-family: "Tengwar Annatar";
	font-weight: bold;
	src: url("../font/TengwarAnnatarBold.ttf") format("truetype");
}
@font-face{
	font-family: "Tengwar Annatar";
	font-style: italic;
	src: url("../font/TengwarAnnatarItalic.ttf") format("truetype");
}
@font-face{
	font-family: "Tengwar Annatar";
	font-style: italic;
	font-weight: bold;
	src: url("../font/TengwarAnnatarBoldItalic.ttf") format("truetype");
}

@font-face{
	font-family: "Cirth Erebor";
	src: url("../font/Erebor.ttf") format("truetype");
}
@font-face{
	font-family: "Cirth Erebor-1";
	src: url("../font/Erebor1.ttf") format("truetype");
}
@font-face{
	font-family: "Cirth Erebor-2";
	src: url("../font/Erebor2.ttf") format("truetype");
}
@font-face{
	font-family: "Cirth Erebor Caps";
	src: url("../font/Erebcap.ttf") format("truetype");
}
@font-face{
	font-family: "Cirth Erebor Caps-1";
	src: url("../font/Erebcap1.ttf") format("truetype");
}
@font-face{
	font-family: "Cirth Erebor Caps-2";
	src: url("../font/Erebcap2.ttf") format("truetype");
}

/* Instructions pour le texte en français */
.texteTitre.fr{
	font-family: Parisine;
	font-size: 26px;
	font-weight: bold;
}
.texteTitreMoyen.fr{
	font-family: Parisine;
	font-size: 20px;
	font-weight: bold;
}
.texteTitrePetit.fr{
	font-family: Parisine;
	font-size: 15px;
	font-weight: bold;
}
.texteLegende.fr{
	font-family: Parisine;
	font-size: 12px;
}

.texteTerminus.fr{
	font-family: Parisine;
	font-size: 14px;
	font-weight: bold;
}
.texteTerminusPetit.fr{
	font-family: Parisine;
	font-size: 12px;
	font-weight: bold;
}
.texteTerminusMini.fr{
	font-family: Parisine;
	font-size: 10px;
	font-weight: bold;
}
.texteMetro.fr{
	font-family: Parisine;
	font-size: 12px;
}
.textePetit.fr{
	font-family: Parisine;
	font-size: 10px;
}
.texteMini.fr,
.texteLieuDit.fr{
	font-family: Parisine;
	font-size: 8px;
}
.footer.fr{
	font-family: Parisine;
	font-size: 6px;
}

/* Instructions pour le texte en elfique */
.texteTitre.elfe{
	font-family: "Tengwar Annatar";
	font-size: 26px;
	font-weight: bold;
}
.texteTitreMoyen.elfe{
	font-family: "Tengwar Annatar";
	font-size: 20px;
	font-weight: bold;
}
.texteTitrePetit.elfe{
	font-family: "Tengwar Annatar";
	font-size: 15px;
	font-weight: bold;
}
.texteLegende.elfe{
	font-family: "Tengwar Annatar";
	font-size: 12px;
}

.texteTerminus.elfe{
	font-family: "Tengwar Annatar";
	font-size: 16px;
	font-weight: bold;
}
.texteTerminusPetit.elfe{
	font-family: "Tengwar Annatar";
	font-size: 14px;
	font-weight: bold;
}
.texteTerminusMini.elfe{
	font-family: "Tengwar Annatar";
	font-size: 12px;
	font-weight: bold;
}
.texteMetro.elfe{
	font-family: "Tengwar Annatar";
	font-size: 14px;
}
.textePetit.elfe{
	font-family: "Tengwar Annatar";
	font-size: 12px;
}
.texteMini.elfe,
.texteLieuDit.elfe{
	font-family: "Tengwar Annatar";
	font-size: 10px;
}
.footer.elfe{
	font-family: "Tengwar Annatar";
	font-size: 6px;
}

.italic{
	font-style: italic;
}

/* Instructions pour le texte en nain */
.texteTitre.nain{
	font-family: "Cirth Erebor-2";
	font-size: 30px;
	stroke: 1px;
	stroke: #050d9e;
	stroke-width: 1;
	stroke-opacity: 1;
}
.texteTitreMoyen.nain{
	font-family: "Cirth Erebor";
	font-size: 22.5px;
	stroke: 1px;
	stroke: #050d9e;
	stroke-width: .75;
	stroke-opacity: 1;
}
.texteTitrePetit.nain{
	font-family: "Cirth Erebor-1";
	font-size: 14px;
	stroke: 1px;
	stroke: #050d9e;
	stroke-width: .5;
	stroke-opacity: 1;
}
.texteLegende.nain{
	font-family: "Cirth Erebor";
	font-size: 10px;
}

.texteTerminus.nain{
	font-family: "Cirth Erebor";
	font-size: 14px;
	stroke: #000000;
	stroke-width: .7;
	stroke-opacity: 1;
}
.texteTerminusPetit.nain{
	font-family: "Cirth Erebor";
	font-size: 12px;
	stroke: #000000;
	stroke-width: .6;
	stroke-opacity: 1;
}
.texteTerminusMini.nain{
	font-family: "Cirth Erebor";
	font-size: 10px;
	stroke: #000000;
	stroke-width: .5;
	stroke-opacity: 1;
}
.texteMetro.nain{
	font-family: "Cirth Erebor";
	font-size: 12px;
}
.textePetit.nain{
	font-family: "Cirth Erebor";
	font-size: 10px;
}
.texteMini.nain,
.texteLieuDit.nain{
	font-family: "Cirth Erebor";
	font-size: 8px;
}
.footer.nain{
	font-family: "Cirth Erebor";
	font-size: 6.25px;
}
.footerPetit.nain{
	font-family: "Cirth Erebor";
	font-size: 4.85px;
}

.italic{
	font-style: italic;
}
.couleurTitre,
.texteTitre,
.texteTitreMoyen,
.texteTitrePetit,
.texteLegende{
	fill: #050d9e;
}
.texteLieuDit{
	fill: #704b1c;
	font-style: italic;
}


/* Instructions pour les logos */
