.bg{
	fill:#ffffff;
	stroke-width:2;
	stroke:#000000;
}

.m1{ fill:#fef000; }
.m2{ fill:#1b0aa7; }
.m3{ fill:#30c6e4; }
.m4{ fill:#c62eee; }
.m5a{ fill:#ff800f; }
.m5b{ fill:#ff800f; }
.m6{ fill:#42b04e; }
.m7{ fill:#e78aa8; }
.m7b{ fill:#7fa800; }
.m8{ fill:#905c6d; }
.m8b{ fill:#365a6e; }
.A{ fill:#e2231a; }